*{
    padding: 0;
}
body {
    font-family: sans-serif;
}

.nav1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 100%;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 55%;

}
.a1{
    margin: 5px;
    text-decoration: none;
    color: red;
}
.a2{
    margin: 5px;
    text-decoration: none;
    color: darkblue;
}
.logo{
    color: darkblue;
}
.oo{
    border-bottom: 2px red solid;
}
.button1{
    background-color: white;
    color: red;
    height: 40px;
    width: 120px;
    box-shadow: 1px 1px 30px -5px gray;
    border: 1px white solid;
    border-radius: 7%;
}
.button1:hover{
    background-color: red;
    color: white;
}
.sec1{
    display: flex;
    justify-content: center;
}
.se1{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: darkblue;
    font-size: 20px;
    font-family: sans-serif;
}
.pa1{
    color: gray;
}
.boutt{
    background-color: red;
    height: 30px;
    width: 120pX;
    color: white;
    border-color: red;
    border-radius: 9%;
}
.link1{
    text-decoration: none;
    margin-left: 5%;
    font-size: 15px;
}

/* style section 2 hy */
.second_section{
    display: flex;
    justify-content: space-around;
        color: darkblue;
}
.second_section_button{
    background-color: red;
    color: white;
    height: 30px;
    width: 100px;
    border: red 1px solid;
    border-radius: 8px;
}
.pdiv2_second_section{
    display: flex;
    width: 50%;
    justify-content: space-around;
    flex-direction: row;
} 
.child_div2_second_section{
    width: 200px;
    /* height: 250px; */
    border: 2px white solid;
    box-shadow: 1px 1px 15px -10px black;

}
.sa1{
    margin-left: 40%;
    margin-top: 5px;
    font-size: 30px;
    color: red;
    border: 2px white solid;
    box-shadow: 1px 1px 15px -10px black;
    
}

/* final section */

.form-t {
    margin-left: 5vw;
}


.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100vw;
}

.form2 {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.bluee , ::placeholder{
    color: rgb(57, 65, 128);
}

.redd {
    color: red;
}

.name-email {
    background-color: rgba(35, 77, 247, 0.136);
    border: none;
    height: 40px;
    width: 40vw;
}

.msg {
    background-color: rgba(35, 77, 247, 0.136);
    border: none;
    height: 100px;
    width: 80.5vw;
}

.btn {
    width: 140px;
    height: 40px;
    border-radius: 50px 50px 50px ;
    border: none;
    background-color: red;
    color: aliceblue;
    text-align: center; 
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}

.div-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footerr {
    padding-top: 30px;
    text-align: center;
    background-color:  rgb(57, 65, 128);
    color: white;
    padding-bottom: 20px;
    border-top-right-radius: 100px;
}

.ftr-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.ftr-nav>a{
    color: white;
    text-decoration: none;
}

.iconss {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
}
.check{
    display: none;
}

.label1 {
    display: none;
}
.logo2{
    display: none;
}

@media (max-width: 426px) {
    body {
        
    }
    .nav1 {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 80vw;
        left: -100%;
        top: 0;
        transition: 0.5s;
        background-color: darkblue;
        box-shadow: 1px 1px 50px 0 rgba(0, 0, 0, 0.61);
    }

    .a2 {
        color: white; 
    }

    .logo {
        display: none;

    }
    .logo2{
        display: flex;
        position: fixed;
        color: darkblue;
        justify-content: start;
    }
    .label {
        display: flex;
        color: darkblue;
        font-size: 10px;
    }

    .nav2 {
        display: flex;
        flex-direction: column;
        background-color: darkblue;
        row-gap: 10px;
    }

    .label1 {
        display: flex;
        position: fixed;
        font-size: 30px;
        top: 1%;
        right: 2%;
    }

    .check{
        position: fixed;
        height: 50px;
        width: 50px;
        top: 10px;
        right: 10px;
    }
    .check:checked ~ nav{
        top: 0;
        left: 0%;
    }
    
    .check:checked ~ .label {
        left: 85%;
        transition: 0.5s;
    }

    img {
        width: 300px;
    }


    .sec1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .se1 ,p{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .se1>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        justify-content: center;
    }

    .second_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .pdiv2_second_section , .child_div2_second_section {
        padding: 20px ;
        gap :10px
        
        
    }
    .pdiv1_second_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pdiv2_second_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}